
@model IEnumerable<SystemSmallSoft.Models.TblProducto>

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    <!---->ViewBag.ProductosA = "active";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Productos</h1>
        <p class="lead text-muted">
            Los servicios que ofreceremos son completamente intangibles, ofrecemos soluciones en TI, digitalizando o mejorando las empresas de nuestros clientes de manera tecnológica y moderna, ofreciendo sistemas para la gestión de materiales, sitios web.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
    </div>
</section>
<div class="album py-5 ">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        @Html.DisplayFor(modelItem => item.ProductoID)
                        <img class="bd-placeholder-img card-img-top" width="100" height="225" src="@Url.Action("getImage/")@item.ProductoID" />
                        @*<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>*@

                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Descripcion)</h5>
                            <p class="card-text">Precio: @String.Format("{0:C}", item.PrecioUnitario)</p>
                            <div class="d-flex justify-content-between align-items-center">
                                @*<p> Precio: @String.Format("{0:C}", item.PrecioUnitario)</p>*@


                                <input type="number" class="form-control numbers" min="1" step="1" value="1" />

                                @* @Html.DisplayFor(modelItem => item.Stock)*@
                                <br />
                                <div class="btn-group">
                                    <!--    <button type="button" class="btn btn-sm btn-outline-secondary">Ver detalles</button>-->
                                    <!--<button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>-->
                                    <a href="#" class="agregar">Agregar</a>
                                </div>
                                @*<small class="text-muted">@Html.DisplayFor(modelItem => item.Stock)</small>*@
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $(".agregar").on("click", function (event) {
                event.preventDefault();
                var ProductoId = $(this).parent().parent().find("td:eq(0)").text();
                var cantidad = $(this).parent().parent().find("input").val();


                $.ajax(
                {
                    url: "@Url.Action("AgregaCarrito", "wp")",
                    data: { id: ProductoId, cantidad: cantidad },
                    type: "POST",
                    success: function (response) {
                        window.location.href = "@Url.Action("AgregaCarrito", "wp")";
                    },
                    error: function (err, error) {
                        alert(err);
                    }
                });
            });
        });

        //Método de validación para el campo de cantidad
        $(".numbers").keydown(function (e) {
            //alert(e.keyCode);
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 40]) !== -1 ||
                (e.keyCode == 65 && e.ctrlkey === true) ||
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                return;
            }

            if ((e.shiftkey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 165)) {
                e.preventDefault();
            }
        });
    </script>
}
