@model IEnumerable<SystemSmallSoft.Models.TblProveedor>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Reportes.cshtml";
}

<div class="row">
    <div class="col-md-4"><img class="mb-4" src="~/Content/img/logoSmallSoft.png" alt="" width="300"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="display-5">Reporte de Proveedores</h1>
        <p class="lead2">Plaza Heroes Local B-2</p>
        <p class="lead2">Ribera del Rio #00 Col Centro</p>
        <p class="lead2">Telefono (477) 123 4567</p>
        <p class="lead2">securitysystem@smallsoft.com.mx</p>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RUC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Representante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RUC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Representante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.URL)
                </td>
            </tr>
        }

    </tbody>

</table>
